<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Home</title>
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
<link th:href="@{/css/styles.css}" rel="stylesheet">
<script type="text/javascript" th:src="@{/js/bootstrap.bundle.min.js}"></script>
</head>
<body>
	<header>
		<nav class="navbar navbar-expand-lg fixed-top navbar-dark"
			style="background-color: #324766">
			<div class="container-fluid">
				<a class="navbar-brand" th:href="@{/patient-book-appointment}"><img
					th:src="@{/images/newlogo.jpg}" alt="" width="100" height="100" /></a>
				<button class="navbar-toggler" type="button"
					data-bs-toggle="collapse" data-bs-target="#navbarNav"
					aria-controls="navbarNav" aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNav">
					<ul class="navbar-nav">
						<li class="nav-item"><a class="nav-link"
							th:href="@{/patient-book-appointment}">BOOK AN APPOINTMENT</a></li>
						<li class="nav-item"><a class="nav-link"
							th:href="@{/patient-book-lab-test}">BOOK A LAB TEST</a></li>
						<li class="nav-item"><a class="nav-link"
							th:href="@{/patient-order-medicine}">ORDER MEDICINES</a></li>
						<li class="nav-item"><a class="nav-link"
							th:href="@{/patient-appointments}">MY APPOINTMENTS</a></li>
						<li class="nav-item"><a class="nav-link focus"
							th:href="@{/patient-profile}">MY PROFILE</a></li>
						<li class="nav-item">
							<p class="nav-link">[[${#httpServletRequest.remoteUser}]]</p>
						</li>
						<li class="nav-item">
							<form th:action="@{/logout}" method="post">
								<input type="submit" value="LOGOUT" />
							</form>
						</li>
					</ul>
				</div>
			</div>
		</nav>
	</header>
	<section class="container-fluid"
		style="margin-top: 150px; margin-bottom: 150px">
		<div class="alert alert-success" role="alert" th:if="${success}">
			<p th:text="${success}" />
		</div>
		<div class="alert alert-danger" role="alert" th:if="${error}">
			<p th:text="${error}" />
		</div>
		<form th:object="${patient}" th:action="@{/patient-profile}"
			method="POST">
			<div class="form-group col-md-4">
				<label for="patientProfileAccountBalance">Account Balance</label> <input
					type="text" class="form-control" id="patientProfileAccountBalance"
					th:field="${patient.patientAccountBalance}" placeholder="100 CAD"
					readOnly>
			</div>
			<div class="row">
				<div class="form-group col-md-4">
					<label for="patientProfileFirstName">First Name *</label> <input
						type="text" class="form-control" id="patientProfileFirstName"
						th:name="patientFirstName" th:field="${patient.patientFirstName}"
						placeholder="John" required>
				</div>
				<div class="form-group col-md-4">
					<label for="patientProfileMiddleName">Middle Name</label> <input
						type="text" class="form-control" id="patientProfileMiddleName"
						th:name="patientMiddleName"
						th:field="${patient.patientMiddleName}" placeholder="M">
				</div>
				<div class="form-group col-md-4">
					<label for="patientProfileLastName">Last Name *</label> <input
						type="text" class="form-control" id="patientProfileLastName"
						th:name="patientLastName" th:field="${patient.patientLastName}"
						placeholder="Doe" required>
				</div>
			</div>
			<div class="form-group">
				<label for="patientProfileDOB">Date of Birth *</label> <input
					type="text" class="form-control" id="patientProfileDOB"
					th:name="patientDOB" th:field="${patient.patientDOB}"
					placeholder="YYYY-MM-DD" required>
			</div>
			<div class="form-group">
				<label for="patientProfileGender">Gender *</label> <input
					type="text" class="form-control" id="patientProfileGender"
					th:name="patientGender" th:field="${patient.patientGender}"
					placeholder="Male/Female/Other" required>
			</div>
			<div class="form-group">
				<label for="patientProfilePhoneNo">Phone *</label> <input
					type="text" class="form-control" id="patientProfilePhoneNo"
					th:name="patientPhoneNo" th:field="${patient.patientPhoneNo}"
					placeholder="1234567890" required>
			</div>
			<div class="form-group">
				<label for="patientProfileBloodGroup">Blood Group</label> <input
					type="text" class="form-control" id="patientProfileBloodGroup"
					th:name="patientBloodGroup" th:field="${patient.patientBloodGroup}"
					placeholder="O+">
			</div>
			<div class="row">
				<div class="form-group col-md-4">
					<label for="patientProfileApt">Apartment No.</label> <input
						type="text" class="form-control" id="patientProfileApt"
						th:name="patientApartmentNo"
						th:field="${patient.patientApartmentNo}" placeholder="0505">
				</div>
				<div class="form-group col-md-4">
					<label for="patientProfileStreet">Street</label> <input type="text"
						class="form-control" id="patientProfileStreet"
						th:name="patientStreet" th:field="${patient.patientStreet}"
						placeholder="1333 South Park St">
				</div>
				<div class="form-group col-md-4">
					<label for="patientProfileCity">City</label> <input type="text"
						class="form-control" id="patientProfileCity" th:name="patientCity"
						th:field="${patient.patientCity}" placeholder="Halifax">
				</div>
			</div>
			<div class="row">
				<div class="form-group col-md-4">
					<label for="patientProfileProvince">Province</label> <input
						type="text" class="form-control" id="patientProfileProvince"
						th:name="patientProvince" th:field="${patient.patientProvince}"
						placeholder="Nova Scotia">
				</div>
				<div class="form-group col-md-4">
					<label for="patientProfileCountry">Country</label> <input
						type="text" class="form-control" id="patientProfileCountry"
						th:name="patientCountry" th:field="${patient.patientCountry}"
						placeholder="Canada">
				</div>
				<div class="form-group col-md-4">
					<label for="patientProfilePostalCode">Postal Code</label> <input
						type="text" class="form-control" id="patientProfilePostalCode"
						th:name="patientPostalCode"
						th:field="${patient.patientPostalCode}" placeholder="B3J 2K9">
				</div>
			</div>
			<div class="form-group">
				<label for="patientProfileMedicalHistory">Medical History</label> <input
					type="text" class="form-control" id="patientProfileMedicalHistory"
					th:name="patientMedicalHistory"
					th:field="${patient.patientMedicalHistory}"
					placeholder="Fever, Sore Throat">
			</div>
			<div class="row">
				<div class="form-group col-md-4">
					<label for="patientProfileEmergencyName">Emergency Contact
						Name</label> <input type="text" class="form-control"
						id="patientProfileEmergencyName"
						th:name="patientEmergencyContactName"
						th:field="${patient.patientEmergencyContactName}"
						placeholder="Jane Doe">
				</div>
				<div class="form-group col-md-4">
					<label for="patientProfileEmergencyContact">Emergency
						Contact Phone No.</label> <input type="text" class="form-control"
						id="patientProfileEmergencyContact"
						th:name="patientEmergencyContactPhoneNo"
						th:field="${patient.patientEmergencyContactPhoneNo}"
						placeholder="1234567890">
				</div>
			</div>
			<div class="form-group col-md-4">
				<label for="patientProfileAccountName">Account Name</label> <input
					type="text" class="form-control" id="patientProfileAccountName"
					th:name="patientAccountName"
					th:field="${patient.patientAccountName}" placeholder="John Doe"
					required>
			</div>
			<div class="row">
				<div class="form-group col-md-4">
					<label for="patientProfileAccountNo">Account No.</label> <input
						type="text" class="form-control" id="patientProfileAccountNo"
						th:name="patientAccountNo" th:field="${patient.patientAccountNo}"
						placeholder="1234567" required>
				</div>
				<div class="form-group col-md-4">
					<label for="patientProfileBankNo">Bank Institution No.</label> <input
						type="text" class="form-control" id="patientProfileBankNo"
						th:name="patientBankInstitutionNo"
						th:field="${patient.patientBankInstitutionNo}" placeholder="011"
						required>
				</div>
				<div class="form-group col-md-4">
					<label for="patientProfileTransitNo">Transit No.</label> <input
						type="text" class="form-control" id="patientProfileTransitNo"
						th:name="patientTransitNo" th:field="${patient.patientTransitNo}"
						placeholder="12345" required>
				</div>
			</div>
			<div class="form-group">
				<p>Account Number should contain only numbers of 7-12 digits.
					Bank Institution Number should contain numbers of 3 digits. Transit
					No. should contain numbers of 5 digits.</p>
			</div>
			<button type="submit" class="btn btn-primary"
				style="background-color: #324766; margin: 10px;">Save</button>
		</form>
		<a type="submit" class="btn btn-primary"
			th:href="@{/patient-prescriptions}"
			style="background-color: #324766; margin: 10px;">My Prescriptions</a>
		<a type="submit" class="btn btn-primary" th:href="@{/patient-reports}"
			style="background-color: #324766; margin: 10px;">My Reports</a>
	</section>
	<footer class="row row-cols-5 py-5 my-5 border-top"
		style="background-color: #324766; color: white">
		<div class="col">
			<a class="navbar-brand" href="#"><img
				th:src="@{/images/newlogo.jpg}" alt="" width="100" height="100" /></a>
		</div>

		<div class="col">
			<h5>FOR PATIENTS</h5>
			<ul class="nav flex-column">
				<li class="nav-item mb-2"><a href="#"
					class="nav-link p-0 text-muted">SEARCH FOR DOCTORS</a></li>
				<li class="nav-item mb-2"><a href="#"
					class="nav-link p-0 text-muted">CONSULT ONLINE</a></li>
				<li class="nav-item mb-2"><a href="#"
					class="nav-link p-0 text-muted">BOOK A LAB TEST</a></li>
			</ul>
		</div>

		<div class="col">
			<h5>FOR DOCTORS</h5>
			<ul class="nav flex-column">
				<li class="nav-item mb-2"><a href="#"
					class="nav-link p-0 text-muted">MY PROFILE</a></li>
				<li class="nav-item mb-2"><a href="#"
					class="nav-link p-0 text-muted">SCHEDULED APPOINTMENTS</a></li>
			</ul>
		</div>

		<div class="col">
			<h5>MORE</h5>
			<ul class="nav flex-column">
				<li class="nav-item mb-2"><a href="#"
					class="nav-link p-0 text-muted">HELP</a></li>
				<li class="nav-item mb-2"><a href="#"
					class="nav-link p-0 text-muted">DEVELOPERS</a></li>
				<li class="nav-item mb-2"><a href="#"
					class="nav-link p-0 text-muted">FAQs</a></li>
				<li class="nav-item mb-2"><a href="#"
					class="nav-link p-0 text-muted">ABOUT</a></li>
			</ul>
		</div>

		<div class="col">
			<h5>SOCIAL</h5>
			<ul class="nav flex-column">
				<li class="nav-item mb-2"><a href="#"
					class="nav-link p-0 text-muted">INSTAGRAM</a></li>
				<li class="nav-item mb-2"><a href="#"
					class="nav-link p-0 text-muted">TWITTER</a></li>
				<li class="nav-item mb-2"><a href="#"
					class="nav-link p-0 text-muted">FACEBOOK</a></li>
				<li class="nav-item mb-2"><a href="#"
					class="nav-link p-0 text-muted">YOUTUBE</a></li>
			</ul>
		</div>
	</footer>

</body>
</html>